<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="valid" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=Logging;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="invalid" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=Invalid;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="noAccess" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=Logging;User ID=wrong;Password=fail;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!-- Use the Windows Azure storage emulator. Make sure to start it before running the tests. -->
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true"/>
    <!-- You can also use a real Azure Storage account by configuring the connection string below. -->
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[AccountName];AccountKey=[AccountKey]" />-->

    <add key="InvalidStorageConnectionString" value="DefaultEndpointsProtocol=test;AccountName=test;AccountKey=test"/>

    <add key="ElasticSearchUri" value="http://localhost:9200" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
