<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="invalid" connectionString="invalid connection string" />
    <add name="noprovider" connectionString="Data Source=(localdb)\v11.0; AttachDBFilename='|DataDirectory|\Logging.mdf';Initial Catalog=SemanticLoggingTests;Integrated Security=True" />
    <add name="invalidprovider" connectionString="Data Source=(localdb)\v11.0; AttachDBFilename='|DataDirectory|\Logging.mdf';Initial Catalog=SemanticLoggingTests;Integrated Security=True" providerName="invalid" />
    <add name="valid" connectionString="Data Source=(localdb)\v11.0; AttachDBFilename='|DataDirectory|\Logging.mdf';Initial Catalog=SemanticLoggingTests;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[AccountName];AccountKey=[AccountKey]" />
    <!-- You can also use the storage emulator, but make sure to start it before running the tests -->
    <!--<add key="StorageConnectionString" value="UseDevelopmentStorage=true" />-->

    <!-- Elasticsearch must be installed to run the integration tests. See http://www.elasticsearch.org/overview/elkdownloads/ for details. -->
    <!--<add key="ElasticsearchUrl" value="http://localhost:9200" />-->
    
    <add key="StorageConnectionStringOutprocSvc" value="UseDevelopmentStorage=true" />
    
    <add key="RunSlowIntegrationTests" value="true" />
  </appSettings>

  <system.diagnostics>
    <!-- Turn off Assert.Debug dialog to prevent any interective dialog to show up while running tests. Any assertion will be saved to log file -->
    <assert assertuienabled="false" logfilename="debug.assert.errors.log" />
  </system.diagnostics>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
